@font-face {
  font-family: 'Calluna';
  src: url('../fonts/calluna-regular.eot');
  src: local('?'),
  url('../fonts/calluna-regular.svg') format('woff'),
  url('../fonts/calluna-regular.ttf') format('truetype'),
  url('../fonts/calluna-regular.woff') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fedra';
  src: url('../fonts/Fedra-Sans-Std-Book_17248.eot');
  src: local('?'),
  url('../fonts/Fedra-Sans-Std-Book_17248.otf') format('woff'),
  url('../fonts/Fedra-Sans-Std-Book_17248.svg') format('truetype'),
  url('../fonts/Fedra-Sans-Std-Book_17248.ttf') format('svg'),
  url('../fonts/Fedra-Sans-Std-Book_17248.woff') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OswaldBold';
  src: url('../fonts/Oswald-Bold.eot');
  src: local('?'),
  url('../fonts/Oswald-Bold.svg') format('woff'),
  url('../fonts/Oswald-Bold.ttf') format('truetype'),
  url('../fonts/Oswald-Bold.woff') format('svg');
  font-weight: normal;
  font-style: normal;
}